/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 25px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #7ed56fad, #28b485b7),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logoBox {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.textBox {
  text-align: center;
  padding-top: 150px;
}

.headingPrimary {
  color: white;
  font-weight: 300;
}

.headingPrimaryMain {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 25px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.headingPrimarySub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 14.25px;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  70% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  70% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
